<div class="accordion" id="accordion" *ngIf="list">
  <div *ngFor="let item of list.items; let i = index; trackBy: trackByFn" class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" [id]="'heading' + i">
      <button class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              [attr.data-bs-toggle]="'collapse'"
              [attr.data-bs-target]="'#collapse' + i"
              [attr.aria-expanded]="false"
              [attr.aria-controls]="'collapse' + i">
        {{item.label}}
      </button>
    </h2>
    <div class="accordion-collapse collapse"
         [id]="'collapse' + i"
         [attr.aria-labelledby]="'heading'+ i"
         [attr.data-bs-parent]="'#accordion'">
      <div class="accordion-body text-xs md:text-sm py-4 px-5">
        <div class="description" [innerHTML]="item.value | injectedHTMLStyling"></div>
        <code *ngIf="item.example" class="mt-1 bg-red-100 py-2 w-full block">{{item.example}}</code>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!list" class="mt-4">
  No content for now, sorry!
</div>
